<div class="card">
  <h5 class="card-header">ngModel</h5>
  <div class="card-body">
    <h5 class="card-title">Directiva necesaria: <br> &lt;form #form="ngForm"&gt;</h5>
    <p class="card-text">Modulo: FormsModule</p>
    <p class="card-text">Descripción: Se coloca la directiva en cada campo que queremos que Angular conozca, nos ayuda a construir el modelo del objeto del formulario. Se asocia con el atributo "name" de la entrada de datos</p>
    <p>Esta directiva es muy beneficiosa si no se quiere rellenar el formulario al momento de cargar, de tal forma que la directiva ngModel trabaja de forma unidireccional en el template</p>
    <p>Tip: Recopilación de información por primera vez</p>
    <a [routerLink]="['/ngmodel']" class="btn btn-primary">Go!</a>
  </div>
</div>


<div class="card">
  <h5 class="card-header">[(ngModel)]</h5>
  <div class="card-body">
    <h5 class="card-title">Directiva necesaria: <br>  &lt;form #form="ngForm"&gt;</h5>
    <p class="card-text">Modulo: FormsModule</p>
    <p class="card-text">Descripción: Se coloca la directiva en cada campo que queremos que Angular conozca, nos ayuda a construir el modelo del objeto del formulario. Se asocia con el atributo "name" de la entrada de datos</p>
    <p>Esta directiva es muy beneficiosa si no se quiere rellenar el formulario al momento de cargar, de tal forma que la directiva ngModel trabaja de forma unidireccional en el template</p>
    <p>Tip: Recopilación de información por primera vez</p>
    <a [routerLink]="['/ngmodel-two-way']" class="btn btn-primary">Go!</a>
  </div>
</div>